# SQLITE-3 
## with PYTHON-3
### part 1 import module create connection

In [3]:
#https://docs.python.org/3/library/sqlite3.html 

#import the sqlite3 module python3 build-in-module  
import sqlite3

#create connection  to dataBase object ("any name.db") if the file dont exist he will be create
con = sqlite3.connect("tutorial.db")
#Create with the connection cursor  to add and exctract data 
cur = con.cursor()

## create table with 3 continers

In [11]:
#create table  with 3 continers name email id NOTE you dont need to spcifing TYPE 
cur.execute("CREATE TABLE user(name,email,id)")

OperationalError: table user already exists

# part 2 verifying thet  the table was create

In [5]:
#We can see that the table has been created, as the query returns a tuple containing the table’s 
# name. If we query sqlite_master for a non-existent table spam, res.fetchone() will return None
#verify thet the table was create
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('user',)

### check if We can see that the table has been created, as the query returns a tuple containing the table’s name.
### If we query sqlite_master for a non-existent table spam, res.fetchone() will return None:

In [6]:
#check if We can see that the table has been created, as the query returns a tuple containing the table’s name.
#  If we query sqlite_master for a non-existent table spam, res.fetchone() will return None:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

# add values to DataBase

In [30]:
cur.execute("""
    INSERT INTO user VALUES
    ("name","email","id"),
    ("yogev","yogev1520@gmail.com",300257227)
    """)

con.commit()#dont forget to commit

# get the Data From Data-Base

In [19]:
#select name 
res.execute("SELECT name FROM user")
print(res.fetchall())

#select email
res = cur.execute("SELECT email FROM user")
print(res.fetchall())

#select id
res = cur.execute("SELECT id FROM user")
print(res.fetchall())

#select all data
res = cur.execute("SELECT * FROM user")
res.fetchall()

[('name',), ('name',), ('name',)]
[('email',), ('email',), ('email',)]
[('id',), ('id',), ('id',)]

[('name', 'email', 'id'), ('name', 'email', 'id'), ('name', 'email', 'id')]

# Delete data from DataBase

In [32]:
#delete all table
res = cur.execute("DELETE FROM user ")
#delete only place_holder with the name on it
res = cur.execute("DELETE FROM user WHERE name")
#https://www.w3schools.com/sql/sql_delete.asp

In [33]:
#select all data
res = cur.execute("SELECT * FROM user")
res.fetchall()

[]